DB_USERNAME= username
DB_PASSWORD = ********
DB_NAME = name
DB_HOST = host
DB_PORT = port
TEST_DB_NAME = name_test
FIRST_NAME = firstName
LAST_NAME = lastName
EMAIL = email
USER_PASSWORD = ****
ID = *****
